fastapi[all]
pydantic
sqlmodel
pydantic-settings
python-dotenv
alembic
tenacity
python-multipart
email-validator
passlib
emails
jinja2
httpx
psycopg
sqlmodel
bcrypt
sentry-sdk
pyjwt
motor
odmantic


annotated-types
anyio
click
dnspython
h11
idna
pydantic-core
pymongo
sniffio
starlette
typing-extensions
cloudinary
boto3
